// Super Desktop
@media screen and (min-width: 1960px) {

.layout-sideleft {
  position: fixed;
  width: 200px;
  height: calc(100vh - 10.5rem);
  z-index: 999;
  overflow-y: auto;
  user-select: none;
  top: 7rem;
  left: 2rem;
  transition: transform $transitionDuration, left $transitionDuration;
  background-color: var(--surface-overlay);
  border-radius: $borderRadius;
  padding: 0.5rem 1.5rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
}
.layout-sideright {
  position: fixed;
  width: 200px;
  height: calc(100vh - 10.5rem);
  z-index: 999;
  overflow-y: auto;
  user-select: none;
  top: 7rem;
  left: 2rem;
  transition: transform $transitionDuration, left $transitionDuration;
  background-color: var(--surface-overlay);
  border-radius: $borderRadius;
  padding: 0.5rem 1.5rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
}
}
//   @media (max-width: 480px) {
//       width: 200px;
//   }
// }
// // iPad Resolution
// @media (max-width: 1025px) and (min-width: 992px) {
//   .card {
//     height: calc(100vh - 10.5rem) !important;
//   }
//   .layout-footer {
//     display: none;
//   }
//   .layout-sidebar1 {
//     width: 220px;
//     top: 6rem;
//     left: 1rem;
//     height: calc(100vh - 7rem);
//   }
//   .layout-cart {
//     width: 220px !important;
//     top: 6rem !important;
//     right: 1rem !important;
//     // margin-right: 1rem;
//     height: calc(100vh - 7rem) !important;
//   }
//   .layout-main-container {
//     margin-left: 13rem !important;
//     padding: 6rem 1rem 2rem 4rem !important;
//   }
//   .layout-static-with-cart {
//     .layout-main-container {
//       margin-right: 16rem !important;
//     }
//   }
//   .layout-static-inactive {
//     .layout-main-container {
//       margin-left: -2rem !important;
//       padding-right: 1rem !important;
//       //margin-right: 20px;
//     }

//     // .layout-static-no-cart {
//     // }
//   }

// }