//@media (min-width: 400px) {
//  .logwindow {
//    border-radius: 10px;
//    padding: 30px 30px 50px 30px !important;
//    //width: 535px !important;
//  }
//}

.logwindow {
  border-radius: 10px;
  padding: 30px 30px 50px 30px !important;
  width: 550px !important;
  color: white;
  //background-color: darkgray!important;
  background-image: linear-gradient(145deg, var(--primary-color ) 50%, var(--secondary-color ) 100%) !important;
  //background: #0F2027;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, var(--secondary-color ), #203A43, var(--primary-color ));  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, var(--secondary-color ), #203A43, var(--primary-color )); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //background-image: radial-gradient( circle 759px at -6.7% 50%, rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );
  //background-image: linear-gradient(to bottom right,  var(--secondary-color ), #4218B8);
}

.regWindow {
  border-radius: 10px;
  padding: 30px 30px 50px 30px !important;
  width: 550px !important;
  color: black;
  //background-color: darkgray!important;
  //background-image: linear-gradient(145deg, var(--primary-color ) 50%, var(--secondary-color ) 100%) !important;
  //background: #0F2027;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, var(--secondary-color ), #203A43, var(--primary-color ));  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, var(--secondary-color ), #203A43, var(--primary-color )); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //background-image: radial-gradient( circle 759px at -6.7% 50%, rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );
  //background-image: linear-gradient(to bottom right,  var(--secondary-color ), #4218B8);
}


.logbutton {
  border-radius: 10px;
  margin-top: 10px;
}

.socialbuttons {
  margin-bottom: 40px !important;
}

.noaccount {
  margin-top: 30px;

  margin-bottom: -20px;
}

.loginBox {
  width: 555px !important;
  height: 555px !important;
  background-image: url("/images/background.png");
}
