.bl-bg {
  margin-left: 0.4rem;
  z-index: 0;
  //position: absolute;
  width: 200px;
  height: 25px;
  -webkit-transform: skew(160deg);
  -moz-transform: skew(160deg);
  -o-transform: skew(160deg);
  background: rgb(45, 46, 130);
  background: linear-gradient(
                  90deg,
                  var(--primary-color) 48%,
                  var(--secondary-color) 72%
  );
  color: white;
  font-style: normal !important;

  font-size: medium;
}


.windowTitle {
  background: rgb(45, 46, 130);
  background: linear-gradient(
                  90deg,
                  var(--primary-color) 48%,
                  var(--secondary-color) 72%
  );
  border-radius: 10px 10px 0 0;
  padding: 10px;
  color: white;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  font-size: large;
  width: 100%;
 
}

.scrollPanel {
   scrollbar-width: inherit;
        width: 70%;
        height: 51rem;
        padding: 2rem;
        border-radius: 2%;
        font-style: italic;
        border-style: solid;
        border-color: #2D2E82
}

.card {
  height: calc(100vh - 10.5rem);
  padding: 1rem;
}

@media (max-width: 991px) {
  .logincard{
width: 23rem;
  }
}

.card-title {
  height: calc(100vh - 13.5rem);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.page {
  height: calc(100vh - 10.5rem);
}

